.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72.81px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;


    padding: 0 64.72px;
    z-index: 20;
}

.navbar-container {
    width: 100%;
    height: 49px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32.36px;
}

.navbar-logo {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 150%;


    background: linear-gradient(180deg,
            rgba(3, 46, 21, 0.6),
            rgba(1, 102, 48, 0.6));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    top: 2px;
}

.navbar-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 32.36px;
}

.nav-link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16.18px;
    line-height: 150%;
    color: #162456;
    text-decoration: none;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 4.05px;
}

.dropdown img {
    width: 24.27px;
    height: 24.27px;
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-btn {
    width: 38px;
    height: 38px;
    border: none;
    background: transparent;
    background-image: url('../assets/images/search-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.chevron-down {
    width: 24.27px;
    height: 24.27px;

}

.nav-link img {

    top: 8.8px;
    left: 5.77px;

    width: 12.7369px;
    height: 7.2055px;

    opacity: 1;
}

.navbar-cta {
    width: 145px;
    height: 49px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(180deg,
            #032E15 0%,
            #016630 100%);

    border-radius: 505.644px;
    text-decoration: none;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18.2px;
    line-height: 16px;
    color: #ffffff;
}