
.info-stats {
    height: 201px;
    background: linear-gradient(180deg, #032E15 0%, #016630 100%);
    display: flex;
    align-items: center;
}

.info-stats-container {
    width: 1120px;
    margin: 0 auto;
    display: flex;
    gap: 86px;
}

.stat-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    text-align: center;
}

.stat-number {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #ffffff;
}

.stat-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #ffffff;
}